# Environment Mode (development | production | test)
NODE_ENV=development

# Backend API Base URL
NEXT_PUBLIC_BASE_URL="https://api.greetely.com/api/v1"

# Dashboard & Web Application Base URLs
NEXTAUTH_URL="https://dashboard.greetely.com"
NEXT_PUBLIC_SITE_URL="https://greetely.com"

# Stripe Public Key (if applicable)
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
